<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 logo-img" href="#">
        <img src="https://res.cloudinary.com/dwlf0cuu6/image/upload/v1680559638/logo_celer7.webp" height="60"
          alt="MDB Logo" loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <div class="d-flex align-items-center hello">
      Bienvenido {{user.first_name}} Rol : {{user.rol}}
      <h2></h2>
    </div>
    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="/carts/1">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge rounded-pill badge-notification bg-danger">{{cartItems}}</span>
      </a>

      <!-- Notifications -->
      <div class="dropdown">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="40"
            alt="Black and White Portrait of a Man" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="/profile">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a id="btn-logout" class="dropdown-item" href="#" onclick="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="container-fluid padre">
  <div class="row hijo">
    <div class="col-lg-10 col-md-12 col-sm-12 main-container">
      <div class="row nosotros-contenido">
        <h1>Productos</h1>
        <div class="productos-container">
          <table class="table table-sm table-products">
            <nav aria-label="..." class="Paginator" id="pagination">
              <ul class="pagination">
                <li class="page-item {{#if products.hasPrevPage}} {{else}} disabled {{/if}}"><a class="page-link"
                    href={{products.prevLink}}>Previous</a></li>
                <li class="page-item  {{#if this.active}} active {{else}} {{/if}}"><a class="page-link"
                    href={{this.link}}>{{products.page}}</a></li>
                <li class="page-item {{#if products.hasNextPage}} {{else}} disabled {{/if}}"><a class="page-link"
                    href={{products.nextLink}}>Next</a></li>
              </ul>
            </nav>
            <thead>
              <tr>
                <th scope="colIdth>
                <th scope=" col">Id</th>
                <th scope="col">Categoria</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Imagen</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {{#each products.payload}}
              {{this.page}}
              <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.category}}</td>
                <td>{{this.code}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td><img style="width: 15rem;" src={{this.image}} /></td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.status}}</td>
                <td>
                  <div class="actions">
                    {{!-- <a href="#" id="add" rel="noopener noreferrer" title="Agregar"><span
                        class="material-symbols-outlined">add_circle</span></a>
                    <a href="#" id="edit" rel="noopener noreferrer" title="Editar"><span
                        class="material-symbols-outlined">edit</span></a>
                    <a href="#" id="delete" rel="noopener noreferrer" title="Eliminar"><span
                        class="material-symbols-outlined">delete</span></a> --}}
                    <a href="#" id="addCart" rel="noopener noreferrer" title="Cart"
                      onclick="addProductCart(`{{this._id}}`)"><span
                        class="material-symbols-outlined">add_shopping_cart</span></a>
                  </div>
                  </i>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/products.js"></script>
<script type="module" src="/js/logout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>